{
"id": "{{ item.name }}",
"name": "{{ item.name }}",
"port": {{ item.port }},
"checks":[
 {
"name": "ping {{ item.name }}",
"args": ["ping","-c1","{{ item.ip }}"],
"interval": "10s",
"status": "passing"
},
{
"name": "curl {{ item.name }}",
"args": ["curl","-I","{{ item.ip }}:{{ item.port }}/{{ item.script }}"],
"interval": "10s",
"status": "passing"
}
]}

