{
  "Datacenter": "dc1",
  "Node": "{{ item.name }}",
  "Address": "{{ item.ip }}",
  "Service": {
    "ID": "{{ item.name }}",
    "Service": "{{ item.name }}",
    "Tags": [
      "v1"
    ],
    "Address": "{{ item.ip }}",
    "Port": {{ item.port }}
  },
  "Check": {
    "Node": "{{ item.name }}",
    "CheckID": "service:{{ item.name }}",
    "Name": "Redis health check",
    "Notes": "Script based health check",
    "Status": "passing",
    "ServiceID": "{{ item.name }}",
    "Definition": {
      "TCP": "localhost:8888",
      "Interval": "5s",
      "Timeout": "1s",
      "DeregisterCriticalServiceAfter": "30s"
    }
  },
  "SkipNodeUpdate": false
}
