[Unit]
Description=CockroachDB server process
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/cockroach start  --insecure --host=0.0.0.0
KillSignal=SIGTERM
User=root
Group=root

[Install]
WantedBy=multi-user.target
