[Unit]
Description=Consul server process
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/consul agent -join {{ item.ip }} -data-dir=/etc/consul -bind 0.0.0.0 -advertise {{ ip_response.content }} -enable-script-checks


KillSignal=SIGTERM
User=root
Group=root

[Install]
WantedBy=multi-user.target
