[Unit]
Description=Consul server process
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/consul agent -data-dir /etc/consul -server -join {{ item.ip }} -enable-script-checks


KillSignal=SIGTERM
User=root
Group=root

[Install]
WantedBy=multi-user.target
