[Unit]
Description=Consul server process
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/consul agent -dev -bind=127.0.0.1 -client=0.0.0.0 -config-dir /etc/consul.d -ui
KillSignal=SIGTERM
User=root
Group=root

[Install]
WantedBy=multi-user.target
